<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name %>
  <%= f.input :content %>
  <%= f.input :parent_id, collection: Page.order(:name), include_blank: true %>

  <div class="my-2">
    <%= f.button :submit, class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
