
<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.input :parent_id, collection: Page.order(:name), include_blank: true %>
    <%#= f.label :parent_id, class: 'form-label' %>
    <%#= f.collection_select :parent_id, Page.order(:name), :id, :name, { include_blank: true }, { class: 'form-control' } %>
  </div>

  <div class="my-2">
    <%= f.button :submit, class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
