<div id="<%= dom_id page %>">
  <ul id="submenu">
    <% Page.roots.each do |page| %>
    <li>
      <h6><%= link_to page.name, page %></h6>
    </li>
      <% page.children.each do |name| %>
        <li>
          <%= link_to_unless_current name.name, name, class: 'text-success' %>
        </li>
        <% name.children.each do |third| %>
          <small>
            <%= link_to_unless_current third.name, third, class: 'text-primary' %>
          </small><br>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <% page.ancestors.each do |ancestor| %>
    <%= link_to ancestor.name, ancestor %>  &gt;
  <% end %>

  <div class="row mt-3">
    <div class="col-1">
      <strong>Name:</strong>
    </div>
    <div class="col-2">
      <%= page.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Content:</strong>
    </div>
    <div class="col-2">
      <%= page.content %>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Ancestry:</strong>
    </div>
    <div class="col-2">
      <%= page.ancestry.present? ? page.ancestry : 'parent' %>
    </div>
  </div>
</div>
