<div id="<%= dom_id page %>">
  <ul id="submenu">
    <% Page.roots.each do |page| %>
    <li>
      <%= link_to page.name, page %>
    </li>
      <% page.children.each do |name| %>
        <small>
          <%= link_to_unless_current name.name, name, class: 'text-success' %>
        </small><br>
      <% end %>
    <% end %>
  </ul>

  <div class="row">
    <div class="col-1">
      <strong>Name:</strong>
    </div>
    <div class="col-2">
      <%= page.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Content:</strong>
    </div>
    <div class="col-2">
      <%= page.content %>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Ancestry:</strong>
    </div>
    <div class="col-2">
      <%= page.ancestry.present? ? page.ancestry : 'parent' %>
    </div>
  </div>
</div>
