<div id="<%= dom_id page %>">
  <ul id="submenu">
    <% Page.roots.each do |page_root| %>
    <li>
      <h6><%= link_to page_root.name, page_root %></h6>
    </li>
      <% page_root.children.each do |child| %>
        <li>
          <%= link_to_unless_current child.name, child, class: 'text-success' %>
        </li>
        <% child.children.each do |grand_child| %>
          <small>
            <%= link_to_unless_current grand_child.name, grand_child, class: 'text-primary' %>
          </small><br>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <% page.ancestors.each do |ancestor| %>
    <%= link_to ancestor.name, ancestor %>  &gt;
  <% end %>

  <div class="row mt-3">
    <div class="col-1">
      <strong>Name:</strong>
    </div>
    <div class="col-2">
      <%= page.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Content:</strong>
    </div>
    <div class="col-2">
      <%= page.content %>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Ancestry:</strong>
    </div>
    <div class="col-2">
      <%= page.ancestry.present? ? page.ancestry : 'parent' %>
    </div>
  </div>
</div>
