<h1 class="mb-5">
  Pages
</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Ancestry</th>
      <th scope="col">Children Name</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to_unless_current page.id, page %></td>
        <td><%= link_to_unless_current page.name, page %></td>
        <td><%= link_to_unless_current page.ancestry, page %></td>
        <td><%= link_to_unless_current page.root.name, page %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New page", new_page_path, class: "btn btn-sm btn-primary my-3" %>
